body{
    font-family: Arial, Helvetica, sans-serif;
}

.item{
    background-color: lightblue;
    padding: 10px;
    border: 1px solid red;
}
.container{
    display: grid;
    grid-template: 300px 100px 100px / repeat(4,1fr);
    /*para espaciado entre elementos*/
    grid-column-gap: 30px;
    grid-row-gap: 50px;

    /*grid-gap: filas/columnas*/
    grid-gap:10px 100px;
}
.item:nth-of-type(4){
    background-color: blue;
    overflow: auto;
    /*display: subgrid;*/
    /*display: -moz-inline-grid;*/
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
}

.item .item {
    background-color: seagreen;
}

/*espacio entre elementos*/